.videoCard {
	color: white;
	width: 500px;
	height: 400px;
	padding: 20px;
	transition: transform 100ms;
}

.videoCard > img {
	height: 300px;
	object-fit: contain;
	width: 100%;
	cursor: pointer;
}

.videoCard:hover {
	transform: scale(1.09);
}

.videoCard > h2 {
	padding-top: 10px;
}

.videocard_stats {
	display: none;
}

.videoCard:hover > .videocard_stats {
	display: inline;
}
